// * START GENERAL SETTINGS -->

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
// ! END GENERAL SETTINGS -->

.homepage_container {
  display: flex;
}

// * START SIDEBAR-LEFT [ANTONINO] -->
#sidebar-left {
  width: 20vw;
  border: 1px solid black;
  padding: 10px;
  background-color: black;

  h3 {
    color: white;
    font-size: 17px;
  }
  h3 i {
    margin-right: 10px;
  }
  p {
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
  hr {
    opacity: 0.2;
  }
  .scrollbar {
    overflow-y: scroll;
    height: 550px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $bg-dark;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .dots {
    margin-bottom: 5px;
    color: white;
  }
  .bi-bookmark-heart-fill {
    color: rgb(124, 124, 167);
  }
  .bi-journal-bookmark-fill {
    color: green;
  }
}
// * START MAIN
main {
  background: linear-gradient(0deg, #101010, #212121);
  width: 60vw;
  height: 100vh;

  // ! END SIDEBAR-LEFT [ANTONINO] -->

  // * START ALBUM ADS [ANTONINO] -->

  // ! END ALBUM ADS [ANTONINO] -->

  //  * START ALBUM FAVORITES [ROBERTO] -->

  // ! END ALBUM FAVORITES [ROBERTO] -->

  // * START ALBUM RECOMMENDED [BRUNO] -->

  // ! END ALBUM RECOMMENDED [BRUNO] -->

  // * START SIDEBAR-RIGHT [ROBERTO] -->
}
// ! END MAIN
#sidebar-right {
  width: 20vw;

  #container_sidebar-right {
    width: 20vw;
    height: 100vh;
    background-color: black;
    color: lightgray;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: sans-serif;
    padding: 2em 1em;
  }
  #header_sidebar-right {
    display: flex;
    justify-content: space-between;
    p {
      display: inline-block;
      color: white;
    }
    #sb-right_header-icons {
      font-size: 1.1rem;
    }
  }
  #container_friends {
    margin-top: 2.5em;
    font-weight: 400;

    #friend1 {
      @include friend;
      .friend_profile-img {
        background-image: url("../../img_assets/pexels-andrea-piacquadio-3760043.jpg");
        @include friend_profile-img;
      }
    }

    #friend2 {
      @include friend;
      .friend_profile-img {
        background-image: url("../../img_assets/pexels-mart-production-8869292.jpg");
        @include friend_profile-img;
      }
    }

    #friend3 {
      @include friend;
      .friend_profile-img {
        background-image: url("../../img_assets/pexels-анастасия-триббиани-9314632.jpg");
        @include friend_profile-img;
      }
    }

    .friend_last-seen {
      font-size: 0.7rem;
    }

    .container_profile-info {
      display: flex;
    }

    .friend_name {
      font-weight: 600;
    }

    .friend_activity-info p {
      font-size: 0.8rem;
    }

    .friend_last-seen {
      font-size: 0.7rem;
    }
  }
}
// ! END SIDEBAR-RIGHT [ROBERTO] -->

// * START NAVBAR BOTTOM [BRUNO] -->
#navbar-bottom {
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0;
  height: 90px;
  background-color: $bg-dark;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: default;
  #navbar-left {
    width: 33vw;
    margin: 10px;
    display: flex;
    align-items: center;
    .play-back {
      margin: 10px;
      padding: 0;
      font-size: 14px;
      #title-song {
        &:hover {
          text-decoration: underline;
        }
      }
      #author {
        color: gray;
        font-size: 12px;
      }
    }
  }
  #navbar-center {
    width: 33vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .track-buttons {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: rgb(208, 208, 208);
      i {
        padding-inline: 10px;
        &:hover {
          color: white;
        }
      }

      .fa-circle-play {
        color: white;
        font-size: 35px;
      }
      .fa-circle-pause {
        font-size: 35px;
        display: none;
      }
    }
    .trackbar {
      display: flex;
      align-items: center;
      font-size: 10px;
      color: rgb(204, 204, 204);
      width: 36vw;
      .track-default {
        width: 100%;
        height: 4px;
        background-color: gray;
        border-radius: 50px;
        margin: 5px;
      }
      #track-seconds {
        position: relative;
        left: 10px;
        width: 0%;
        height: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
      }
      &:hover #track-seconds {
        background-color: $primary;
      }
    }
  }
  #navbar-right {
    width: 33vw;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: gray;
    i {
      padding-right: 20px;
      &:hover {
        color: white;
      }
    }
    .volume {
      .volume-default {
        width: 80px;
        height: 4px;
        background-color: gray;
        border-radius: 50px;
      }
      #volume-set {
        position: relative;
        top: 4px;
        width: 20px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
      }
      &:hover #volume-set {
        background-color: $primary;
      }
    }
  }
}
// ! END NAVBAR BOTTOM [BRUNO] -->
