@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.homepage_container {
  display: flex;
}

#sidebar-left {
  cursor: default;
  width: 20vw;
  border: 1px solid black;
  padding: 10px;
  padding-left: 1.5em;
  background-color: black;
  overflow-y: hidden;
}
#sidebar-left h3 {
  color: lightgray;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#sidebar-left h3 i {
  font-size: 1.3rem;
  margin-right: 10px;
}
#sidebar-left p {
  color: gray;
  font-size: 15px;
  padding-top: 13px;
}
#sidebar-left p:hover {
  color: white;
}
#sidebar-left a {
  color: lightgray;
  text-decoration: none;
}
#sidebar-left a:hover {
  color: white;
}
#sidebar-left hr {
  opacity: 0.2;
}
#sidebar-left .scrollbar {
  overflow-y: scroll;
  height: 50vh;
}
#sidebar-left ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
#sidebar-left ::-webkit-scrollbar-track {
  background: black;
}
#sidebar-left ::-webkit-scrollbar-thumb {
  background: #888;
}
#sidebar-left ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#sidebar-left .dots {
  margin-bottom: 5px;
  color: lightgray;
  font-size: 1.7rem;
  font-weight: 100;
}
#sidebar-left .bi-bookmark-heart-fill {
  color: rgb(124, 124, 167);
}
#sidebar-left .bi-journal-bookmark-fill {
  color: green;
}

main {
  background: linear-gradient(0deg, #101010, #212121);
  width: 60vw;
  height: 100vh;
  color: white;
  padding: 1em 30px;
  overflow-y: scroll;
}
main::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
main::-webkit-scrollbar-track {
  background: black;
}
main::-webkit-scrollbar-thumb {
  background: #888;
}
main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
main #main-utente {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
main #main-utente .fa-chevron-left {
  background-color: #101010;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
main #main-utente .fa-chevron-right {
  background-color: #101010;
  padding: 10px;
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
}
main #main-utente .upgrade {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px;
  padding-inline: 12px;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  cursor: default;
}
main #main-utente .upgrade:hover {
  background-color: black;
  border: 2px solid white;
}
main #main-utente .developers {
  cursor: default;
  font-style: normal;
  background-color: black;
  border-radius: 30px;
  padding-block: 7px;
  padding-inline: 3px;
  padding-right: 10px;
}
main #main-utente .developers .bi-person {
  background-color: gray;
  border-radius: 500px;
  padding: 5px;
}
main #main-utente .developers .user {
  display: inline;
}
@media screen and (max-width: 1200px) {
  main #main-utente .developers .user {
    display: none;
  }
}
main #albums-ads {
  border: 0px solid black;
  display: flex;
  padding: 20px;
  background: linear-gradient(20deg, rgb(0, 0, 0) 39%, rgb(50, 50, 51) 98%);
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  main #albums-ads {
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
}
main #albums-ads img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
main #albums-ads .colum {
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.8rem;
}
main #albums-ads #title-song {
  font-weight: 600;
  letter-spacing: -3px;
}
@media screen and (max-width: 1000px) {
  main #albums-ads #title-song {
    font-size: 30px;
    letter-spacing: 0;
  }
}
main #albums-ads .button {
  border-radius: 40px;
  padding: 20px;
  margin-top: 15px;
  width: 120px;
  background: #1ED760;
  font-weight: bold;
}
main #albums-ads .button-2 {
  border-radius: 40px;
  padding: 20px;
  margin-top: 15px;
  width: 120px;
  background: black;
  color: white;
  border: 0.5px solid grey;
  font-weight: bold;
}
main #albums-ads .button-3 {
  background: rgb(50, 50, 51);
  color: grey;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
  justify-content: flex-end;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  main #albums-ads .button-3 {
    display: none;
  }
}
main #albums-ads #btn-container {
  margin-left: auto;
}
main #albums-ads p {
  font-size: 16px;
}
main #albums-ads i {
  margin: 20px;
  color: grey;
}
main #albums-favorites #albums-favorites_title {
  margin-block: 0.9em;
  font-size: 22px;
  font-weight: 900;
}
main #albums-favorites .row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  main #albums-favorites .row {
    flex-direction: column;
  }
}
main #albums-favorites .album-favorite {
  height: 80px;
  width: 32%;
  margin-bottom: 1em;
  color: white;
  background-color: grey;
  border-radius: 3px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  main #albums-favorites .album-favorite {
    width: 100%;
  }
}
main #albums-favorites .favorite_img-container {
  width: 80px;
  height: 100%;
  background-color: white;
}
main #albums-favorites .favorite_img-container img {
  width: 100%;
  height: 100%;
}
main #albums-favorites #img_collection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main #albums-favorites #img_collection div {
  color: black;
  width: 50%;
  height: 50%;
  padding: 5px 0 0 5px;
}
main .album-title-recommended {
  padding-block: 20px;
  font-size: 22px;
}
main #albums-recommended {
  display: flex;
  margin-bottom: 100vh;
  cursor: pointer;
}
main #albums-recommended img {
  border-radius: 5px;
  width: 160px;
  height: 160px;
}
main #albums-recommended .album-recommended {
  background-color: #1d1d1d;
  padding: 15px;
  border-radius: 10px;
  margin-right: 32px;
}
main #albums-recommended .album-recommended #title-song {
  padding-block: 10px;
  font-weight: 900;
  font-size: 14px;
}
main #albums-recommended .album-recommended #author {
  padding-block: 5px;
  color: gray;
  font-size: 14px;
}
main #albums-recommended .album-recommended:hover {
  background-color: #2C2C2C;
  transition: 0.5s;
}

#sidebar-right {
  width: 20vw;
}
#sidebar-right #container_sidebar-right {
  width: 20vw;
  height: 100vh;
  background-color: black;
  color: lightgray;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: sans-serif;
  padding: 2em 1em;
}
#sidebar-right #header_sidebar-right {
  display: flex;
  justify-content: space-between;
}
#sidebar-right #header_sidebar-right p {
  display: inline-block;
  color: white;
}
#sidebar-right #header_sidebar-right #sb-right_header-icons {
  font-size: 1.1rem;
}
#sidebar-right #container_friends {
  margin-top: 2.5em;
  font-weight: 400;
}
#sidebar-right #container_friends #friend1 {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
#sidebar-right #container_friends #friend1 * {
  margin-bottom: 5px;
}
#sidebar-right #container_friends #friend1 .friend_profile-img {
  background-image: url("../../img_assets/pexels-andrea-piacquadio-3760043.jpg");
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
}
#sidebar-right #container_friends #friend2 {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
#sidebar-right #container_friends #friend2 * {
  margin-bottom: 5px;
}
#sidebar-right #container_friends #friend2 .friend_profile-img {
  background-image: url("../../img_assets/pexels-mart-production-8869292.jpg");
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
}
#sidebar-right #container_friends #friend3 {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
#sidebar-right #container_friends #friend3 * {
  margin-bottom: 5px;
}
#sidebar-right #container_friends #friend3 .friend_profile-img {
  background-image: url("../../img_assets/pexels-анастасия-триббиани-9314632.jpg");
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
}
#sidebar-right #container_friends .friend_last-seen {
  font-size: 0.7rem;
}
#sidebar-right #container_friends .container_profile-info {
  display: flex;
}
#sidebar-right #container_friends .friend_name {
  font-weight: 600;
}
#sidebar-right #container_friends .friend_activity-info p {
  font-size: 0.8rem;
}
#sidebar-right #container_friends .friend_last-seen {
  font-size: 0.7rem;
}

#navbar-bottom {
  border-top: 1px solid rgb(56, 56, 56);
  position: fixed;
  bottom: 0;
  height: 90px;
  background-color: #212121;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: default;
}
#navbar-bottom #navbar-left {
  width: 33vw;
  margin: 10px;
  display: flex;
  align-items: center;
}
#navbar-bottom #navbar-left img {
  width: 60px;
  height: 60px;
}
#navbar-bottom #navbar-left .play-back {
  margin: 10px;
  padding: 0;
  font-size: 14px;
}
#navbar-bottom #navbar-left .play-back #title-song:hover {
  text-decoration: underline;
}
#navbar-bottom #navbar-left .play-back #author {
  color: gray;
  font-size: 12px;
}
#navbar-bottom #navbar-center {
  width: 33vw;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#navbar-bottom #navbar-center .track-buttons {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(208, 208, 208);
  margin-bottom: 7px;
}
#navbar-bottom #navbar-center .track-buttons i {
  padding-inline: 10px;
}
#navbar-bottom #navbar-center .track-buttons i:hover {
  color: white;
}
#navbar-bottom #navbar-center .track-buttons .fa-circle-play {
  color: white;
  font-size: 35px;
}
#navbar-bottom #navbar-center .track-buttons .fa-circle-pause {
  font-size: 35px;
  display: none;
}
#navbar-bottom #navbar-center .trackbar {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: rgb(204, 204, 204);
  width: 36vw;
}
#navbar-bottom #navbar-center .trackbar .track-default {
  width: 100%;
  height: 4px;
  background-color: gray;
  border-radius: 50px;
  margin: 5px;
}
#navbar-bottom #navbar-center .trackbar #track-seconds {
  position: relative;
  left: 10px;
  width: 0%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
#navbar-bottom #navbar-center .trackbar:hover #track-seconds {
  background-color: #1ED760;
}
#navbar-bottom #navbar-right {
  width: 33vw;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: gray;
}
#navbar-bottom #navbar-right i {
  padding-right: 20px;
}
#navbar-bottom #navbar-right i:hover {
  color: white;
}
#navbar-bottom #navbar-right .volume .volume-default {
  width: 80px;
  height: 4px;
  background-color: gray;
  border-radius: 50px;
}
#navbar-bottom #navbar-right .volume #volume-set {
  position: relative;
  top: 4px;
  width: 20px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
#navbar-bottom #navbar-right .volume:hover #volume-set {
  background-color: #1ED760;
}

@media screen and (max-width: 500px) {
  #navbar-bottom {
    flex-direction: column;
    height: 130px;
  }
  #navbar-bottom #navbar-left {
    margin: 0;
    margin-block: 10px;
    width: 90vw;
  }
  #navbar-bottom #navbar-center {
    position: relative;
    bottom: 30px;
  }
  #navbar-bottom #navbar-center .trackbar {
    width: 90vw;
  }
  #navbar-bottom #navbar-right {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #sidebar-left {
    display: none;
  }
  #sidebar-right {
    display: none;
  }
  main {
    width: 100vw;
  }
}
